<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %} Carol Pepper-Cooper{% endblock %}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Carol Pepper-Cooper portfolio">
    <meta name="author" content="Seth Cooper">

    <!-- Bootstrap core CSS -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/bootswatch/3.1.0/readable/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top navbar-custom" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header ">
      <button type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Carol Pepper-Cooper</a>
    </div>

    <div class="collapse navbar-collapse dropdown-custom" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav ">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle dropdown-custom" data-toggle="dropdown">Galleries <span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-custom" role="menu">
            <li><a href="/galleries/landscapes" >Landscapes</a></li>
            <li><a href="/galleries/mindscapes-dreams">Mindscapes & Dreams</a></li>
            <li><a href="/galleries/non-objective-drawings">Non-Objective Drawings</a></li>
            <li><a href="/galleries/persons-interiors">Persons & Interiors</a></li>
            <li><a href="/galleries/judaica">Judaica</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle dropdown-custom" data-toggle="dropdown">About <span class="caret"></span></a>
          <ul class="dropdown-menu navbar-custom " role="menu">
             <li><a href="/statement">Statement & Vita</a></li>
            <li><a href="/press">Press</a></li>
          </ul>
        </li>
        <li><a href="/comments">Comments</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
      <!-- Begin page content -->
      <div class="container">
        <div class="page-header">
          {% block headertop %}{% endblock %}
          <h2>{% block title %}{% endblock %}</h2>
        </div>
        <div class="row">
          <div class="col-md-12">
            {% block content %} Default Content {% endblock %}
            {% block modals %}
   <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {% endblock %}
          </div>
        </div>
      </div>
    </div>
<div id="footer">
  <div class="col-xs-12 col-sm-12 col-md-12 text-muted" text align="center">
    Web Site, Contents, and All Images<br>© Carol Pepper-Cooper<br>All Rights Reserved<br><br>
  </div>
</div>






    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


   <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

  <script src="/javascripts/modals.js"></script>



  </body>
</html>