{% extends "layout.html" %}

{% block title %} {{title}}{% endblock %}

{% block content %}

<div class="container">
     <ul class="row gallery row-centered">
        <li class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-centered col-max"><div class='text-center'><img src="/images/mindscapes/Autumn_Song.jpg" width="100%" height="100%"><div class='text-center'><h6>Autumn Song</h6>oil 37" X 53" POR<br>{{glicee}}</div></div><br><br><br></li>
        <li class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-centered col-max"><div class='text-center'><img src="/images/mindscapes/The_Widening_Gyre_III.jpg" width="100%" height="100%"><div class='text-center'><h6>The Widening Gyre III</h6>oil 38" X 54" POR<br>{{glicee}}</div></div><br><br><br></li>
        <li class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-centered col-max"><div class='text-center'><img src="/images/mindscapes/Day_One.jpg" width="100%" height="100%"><div class='text-center'><h6>Day One </h6>bas relief 32" X 40" POR<br>{{glicee}}</div></div><br><br><br></li>
        <li class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-centered col-max"><div class='text-center'><img src="/images/mindscapes/Night_Murmurs.jpg" width="100%" height="100%"><div class='text-center'><h6>Night Murmurs</h6>mixed media 18" X 18" POR<br>{{glicee}}</div></div><br><br><br></li>
        <li class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-centered col-max"><div class='text-center'><img src="/images/mindscapes/Mesa_Madame.jpg" width="100%" height="100%"><div class='text-center'><h6>Mesa Madame</h6>acrylic 36" X 54" POR<br>{{glicee}}</div></div><br><br><br></li>
        <li class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-centered col-max"><div class='text-center'><img src="/images/mindscapes/Time_Flow.jpg" width="100%" height="100%"><div class='text-center'><h6>Time Flow</h6>mixed media 17 3/4" X 24" POR<br>{{glicee}}</div></div><br><br><br></li>
        <li class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-centered col-max"><div class='text-center'><img src="/images/mindscapes/What_I_Saw_in_the_Garden.jpg" width="100%" height="100%"><div class='text-center'><h6>What I Saw in the Garden</h6>acrylic, 39" X 38" POR<br>{{glicee}}</div></div><br><br><br></li>
        <li class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-centered col-max"><div class='text-center'><img src="/images/mindscapes/Tick-Tock_I.jpg" width="100%" height="100%"><div class='text-center'><h6>Tick-Tock I</h6>acrylic, 42" X 60" POR<br>{{glicee}}</div></div><br><br><br></li>
        <li class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-centered col-max"><div class='text-center'><img src="/images/mindscapes/Tick-Tock_II.jpg" width="100%" height="100%"><div class='text-center'><h6>Tick-Tock II</h6>acrylic, 38" X 38 1/4" POR<br>{{glicee}}</div></div><br><br><br></li>
        <li class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-centered col-max"><div class='text-center'><img src="/images/mindscapes/Autumn's_Being.jpg" width="100%" height="100%"><div class='text-center'><h6>Autumn's Being</h6>acrylic, 33" X 25 1/4" POR<br>{{glicee}}</div></div><br><br><br></li>
        <li class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-centered col-max"><div class='text-center'><img src="/images/mindscapes/Son_of_Man.jpg" width="100%" height="100%"><div class='text-center'><h6>Son of Man, Can These Bones Live?</h6>oil, 96" X 48" POR<br>{{glicee}}</div></div><br><br><br></li>
        <li class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-centered col-max"><div class='text-center'><img src="/images/mindscapes/Remembrance_and_Hope.jpg" width="100%" height="100%"><div class='text-center'><h6>Remembrance and Hope: 9/11</h6>mixed media 8" X 6" POR<br>{{glicee}}</div></div><br><br><br></li>
        <li class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-centered col-max"><div class='text-center'><img src="/images/mindscapes/Portals.jpg" width="100%" height="100%"><div class='text-center'><h6>Portals</h6>Oil 24" X 36" POR<br>{{glicee}}</div></div><br><br><br></li>
        <li class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-centered col-max"><div class='text-center'><img src="/images/mindscapes/The_Way_Out.jpg" width="100%" height="100%"><div class='text-center'><h6>The Way Out</h6>oil private collection<br>{{glicee}}</div></div><br><br><br></li>
        <li class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-centered col-max"><div class='text-center'><img src="/images/mindscapes/What_I_Saw_in_the_Field.jpg" width="100%" height="100%"><div class='text-center'><h6>What I Saw in the Field</h6>mixed media private collection<br>{{glicee}}</div></div><br><br><br></li>
        <li class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-centered col-max"><div class='text-center'><img src="/images/mindscapes/What_I_Saw_in_the_Garden_II.jpg" width="100%" height="100%"><div class='text-center'><h6>What I Saw in the Garden II</h6>mixed media 36" X 36" POR<br>{{glicee}}</div></div><br><br><br></li>
        <li class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-centered col-max"><div class='text-center'><img src="/images/mindscapes/My_Blue_Pearl.jpg" width="100%" height="100%"><div class='text-center'><h6>My Blue Pearl</h6>acrylic 35 3/4 X 35 3/4 POR<br>{{glicee}}</div></div><br><br><br></li>











     </ul>
</div>

{% endblock %}