{% extends "layout.html" %}

{% block title %} {{title}}{% endblock %}

{% block content %}

<div class="container">
  <ul class="row gallery row-centered">
    <li class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-centered col-max"><div class='text-center'><img src="/images/personsandinteriors/Day_Dreamer.jpg" width="100%" height="100%"><div class='text-center'><h6>Day Dreamer</h6>Oil 30" X 40 1/4" POR<br>{{glicee}}</div></div><br><br><br></li>
    <li class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-centered col-max"><div class='text-center'><img src="/images/personsandinteriors/Yin.jpg" width="100%" height="100%"><div class='text-center'><h6>Yin</h6>Pastel 19" X 24" 1/4"  POR<br>{{glicee}}</div></div><br><br><br></li>
    <li class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-centered col-max"><div class='text-center'><img src="/images/personsandinteriors/Yang.jpg" width="100%" height="100%"><div class='text-center'><h6>Yang</h6>Pastel 19 3/4" X 26" 1/4"  POR<br>{{glicee}}</div></div><br><br><br></li>
    <li class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-centered col-max"><div class='text-center'><img src="/images/personsandinteriors/Yin_and_Yang.jpg" width="100%" height="100%"><div class='text-center'><h6>Yin and Yang</h6>Archival giclée print several sizes available<br></b>POR</div></div><br><br><br></li>
    <li class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-centered col-max"><div class='text-center'><img src="/images/personsandinteriors/The_Illusionist.jpg" width="100%" height="100%"><div class='text-center'><h6>The Illusionist</h6>Pastel, private collection <br>{{glicee}} POR</div></div><br><br><br></li>
    <li class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-centered col-max"><div class='text-center'><img src="/images/personsandinteriors/Waiting.jpg" width="100%" height="100%"><div class='text-center'><h6>Waiting</h6>charcoal pencil 8" X 11" POR<br>{{glicee}}</div></div><br><br><br></li>
    <li class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-centered col-max"><div class='text-center'><img src="/images/personsandinteriors/Listening_to_the_Unseen.jpg" width="100%" height="100%"><div class='text-center'><h6>Listening to the Unseen</h6>mixed media 5" X 7"  POR <br></b>{{glicee}}</div></div><br><br><br></li>
    <li class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-centered col-max"><div class='text-center'><img src="/images/personsandinteriors/And_Her_Shoes_Were_Black.jpg" width="100%" height="100%"><div class='text-center'><h6>And Her Shoes Were Black</h6>oil 36" X 48" POR<br>{{glicee}} POR</div></div><br><br><br></li>
    <li class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-centered col-max"><div class='text-center'><img src="/images/personsandinteriors/Spring_Reverie.jpg" width="100%" height="100%"><div class='text-center'><h6>Spring Reverie</h6>pastel 17 3/4" X 23 3/4" POR<br>{{glicee}}</div></div><br><br><br></li>
    <li class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-centered col-max"><div class='text-center'><img src="/images/personsandinteriors/Nicks_Place.jpg" width="100%" height="100%"><div class='text-center'><h6>At Nick's Place</h6>pastel  18" X 13" POR<br>{{glicee}}</div></div><br><br><br></li>
    <li class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-centered col-max"><div class='text-center'><img src="/images/personsandinteriors/For_Eleanor.jpg" width="100%" height="100%"><div class='text-center'><h6>For Eleanor</h6>oil   14" X 11" POR<br>{{glicee}}</div></div><br><br><br></li>
    <li class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-centered col-max"><div class='text-center'><img src="/images/personsandinteriors/Catwoman.jpg" width="100%" height="100%"><div class='text-center'><h6>Catwoman</h6>acrylic   36" X 36" POR<br>{{glicee}}</div></div><br><br><br></li>
  </ul>
</div>


{% endblock %}