{% extends "layout.html" %}

{% block title %} {{title}}{% endblock %}

{% block content %}

<div class="container text-center vitae">
  <div class="col-xs-12 col-sm-12 col-md-12 col-centered col-max-name">
    <div class='text-center text-justify'><h6 class='text-center'>Super-duper Pepper-Cooper</h6><p><span class='h6'>Carol Pepper-Cooper's</span> whose pastel, charcoal drawings and oils are now on exhibition in a solo stint with Stone Ridge's Cultural Co-op Gallery, says she hasn't shown her work individually in some 30 years. That of course doesn't mean she hasn't participated in scores of collective shows. Very much on the contrary, she has been uninterruptedly active. But whatever time has passed, if anything this current show of hers proves she is making up for lost time, in the solo department, that is. She has come through with an unquestionably top rate  performance.</p>

      <p>Pepper-Cooper begins  representationally, then progresses to nonobjectiveion. While each piece is savory in its own right, a few works echo other pieces in more or less nonobjective versions or different mediums. A skilled colorist, she creates a variety of textural illusions, especially on paper.</p>

      <p>Interiors with reclining nude figures, mirrors, and windows reflect the question posed in the artist's preliminary statement, "Is the dream a creation of the dreamer, or is the dreamer the product of his own dream?"</p>

      <p>These meditational reveries are sweetly pastel or deeply introspective indigo. When  depicted representationally, the dreamers' surroundings are familiar furnishings in bright colors. The nonobjectives focus more closely on the figure, fun to locate among mountain-like hips, swirling limbs and clutched pillows.</p>

      <p>In "The Dream II," an oil, two panels are placed one above the other, a sleeping woman on each. More serenity is revealed at the top level, while more restless, subconscious activity is indicated on the bottom panel. The difference is indicated mainly by the use of cool blues and greens at the top and warmer oranges and reds on the bottom.</p>
      <p>More disturbing is a large oil based on a passage from the Old Testament (Ezekiel 37), "Son of Man, Can These Bones Live?", which explores the holocaust theme. The painting depicts a pile of bones and skeletons below, figures tumbling through an abyss mid-canvas, and a man standing at the top among green and yellow mountains and a red sky. A landscape of human arms cradles a lake from which the male figure rises, gazing skyward.</p>

      <p>The artist created the painting to accompany a play and religious service that her husband, Paul Cooper, wrote to welcome a stolen Torah to Temple Emanuel in Kingston a few years ago. "The Nazis confiscated Torahs from Temples and Synagogues with the idea of building a museum to a dead civilization," she says. "Instead, the Allies found the collection and brought more than 1500 Torahs to London. Temples and synagogues around the world can borrow them."</p>

      <p>When Temple Emanuel acquired one of the Torahs a few years ago, an art show of pertinent work was arranged to celebrate the event, along with the special service written by Paul Cooper. "That was what I needed to get me off my duff," Carol says. "My husband looked at Ezekiel's image, and I thought it was a great idea."</p>

      <p>As part of her preparation to paint the picture, she studied anatomy at the Ulster County Community College bio lab over a winter break. So far, three versions of the work exist --  a master drawing, the oil painting, and a mixed media piece with Conte and pastel on  paper.</p>

      <p>Pepper-Cooper, who tutors UCCC students in English and psychology, earned a magna cum laude degree in English at Radcliffe College. She also studied at Columbia University's School of Painting and Sculpture, the Art Students League of New York City, the Skowhegan School of Painting and Sculpture, and the University of Illinois. She received an MFA from Pratt Institute in 1966, and was a student of former Woodstock resident and master teacher Nicholas Buhalis at his Woodstock and Kingston schools.</p>

      <p>The artist is also an accomplished theatrical set painter, and before moving to Lyonsville in the early 1970's was a dean upstate at Kirkland College in Clinton.</p>

      <p>Pepper-Cooper observes in her statement that although nonobjective expression was in vogue when she received her MFA in 1966, she was influenced by Hans Hofmann, the impressionists, and Matisse and Rembrandt. "My thesis exhibition consisted of works which tried to relate the human figure to an nonobjective world of luminous color. Through this I tried to celebrate not only organic forms and the forces of nature working on them, but also the human imagination." She also uses the human form to indicate natural features like mountains, lakes, and even birds.</p>
      Carol Pepper-Cooper's exhibit at the Cultural Co-op, 3938 Main Street, Stone Ridge, runs through August.</p>
      <div class='text-center'><em>------Twinker Twine, Woodstock Times</em></div><br><br><hr><br>
    </div>

    <div class='text-center text-justify'><h6 class='text-center'>Artist's Latest Offering Pleases the Eye and Feeds the Soul</h6><p><span class='h6'>Carol Pepper-Cooper,</span> whose pastel, charcoal drawings and oils are now on exhibition in a solo stint with Stone Ridge's Cultural Co-op Gallery, says she hasn't shown her work individually in some 30 years. That of course doesn't mean she hasn't participated in scores of collective shows. Very much on the contrary, she has been uninterruptedly active. But whatever time has passed, if anything this current show of hers proves she is making up for lost time, in the solo department, that is. She has come through with an unquestionably top rate  performance.</p>

      <p>The first feature that appears as positively dominant in her pieces is the manner in which she uses space. She abbreviates every form within the picture to the most essential. She creates an ambiguity between the flat space and depth that inject tension, creating an interesting visual game.</p>

      <p>The formula is rather tricky. When seen at first glance, the piece appears flat. Then, looking closely, everything comes together to give an impression of tri-dimensionality.</p>

      <p>Her figures are essential in this playful, complex performance. Somehow, they seem to perform both functions, dissolving into space or becoming part of space. Yet  looking closely, they most certainly have a presence of their own.</p>

      <p>When questioned about this particularity in her work, Pepper-Cooper explains that whereas she is now a figurative painter, she once was a staunch nonobjectiveionist. That accounts for her usage of space, and her penchant to reconcile her past production to her present. She also adds that she was a follower and great admirer of the immortal Hans Hoffman, whose work was characterized by the balance of tension within the field of nonobjectiveion.</p>

      <p>An M.F.A. Graduate of the famed Pratt Institute, Pepper-Cooper says in a gallery statement that her thesis exhibition consisted of  works which tried to relate the human figure to an nonobjective world of luminous color. This is one quality that is quite evident in her present work when it comes to her palette. That luminousity is unquestionably breathtaking.</p>

      <p>The artist uses charcoal, construction and colored paper to do her drawings. In some pieces she almost covers the entire paper, and leaves only mere hints of the original, basic tint. Then on the other hand, she may barely put down a few lines and uses to advantage the color of the paper. Either way, the artist shows extreme cleverness in her solutions.</p>

      <p>She shows versatility in her use of media. She may use charcoal and conte. Then she may change to conte and pastel, or pastel pencil. In most instances, she goes straight for pastel alone.</p>

      <p>Her figures are mostly nudes, and always in poses that indicate a meditative mood, hints of quiet, reflective moments, and even in deep absorbed moods. It's a world where no one seems to be under stress, hurrying anywhere or worrying about a hundred problems. This is that special touch that the artist can project in work and that comes directly from deep conviction and feelings.</p>

      <p>Her titles, "Night Reverie," "Day Dreamer," or "The Magic Carpet," point to the message of complete nirvana that the artist seems to want to convey through her production.</p>

      <p>One interesting piece is her "Homage to Gauguin." Done in pastel, the artist follows that unmistakable Paul Gauguin style as he depicted his Tahitian models, sensuous ladies robed in colorful South Sea Prints. But Pepper-Cooper has substituted for the female temptresses a male nude, though bronze skinned and assuming a similar pose to the Gauguin subjects. The result has a most topical connotation: If the females could pose, the artist seems to be saying here, so can the men.</p>

      <p>One other piece which is in the category of show stopping is a large format oil on masonite titled "Son of Man, Can These Bones Live?" The artist tells us that there is a story behind it, and upon hearing the observation that it has references to Dante's Inferno, she is prompt to say that it refers not to the Florentine's literary treasure, but to the Holy Bible and the World War II Holocaust. The story further involves the artist's husband, theatre director Paul Cooper, who wrote a play based on the terrible human massacre, and she in turn painted the piece to be used in the presentation of the theatrical piece.</p>

      <p>A show of enormous depth, and excellent quality which not only pleases the eye, but feeds the soul. Pepper-Cooper's solo is an exciting art event in our local art scene!</p>
      <div class='text-center'><em>------James G. Shine, Kingston Daily Freeman</em></div><br><hr>

      <p>In "Waiting," an oil by Carol Pepper-Cooper, more silhouetted figures, this time not black but very dark colors, sit in a purple atmosphere. Light patches of pink, blue and green help define the hatted and bare-headed androgynous individuals grouped together in a mysterious setting. There's such a spooky aura about this piece that it seems the people must be waiting for a space ship to pick them up.</p>
      <div class='text-center'><em>------Renee Samuels, Kingston Sunday Freeman</em></div><br><hr>

      <p>An oil painting and a pastel by Carol Pepper-Cooper were stand-outs to this viewer. Her colors--hot red inflected with neon green and blue--grab the attention and hold it, on scenes that are are almost languidly dreamy, despite their hues.</p>
      <div class='text-center'><em>------Kathi Norklun, Woodstock Times</em></div><br><hr>


      <p>Carol Pepper-Cooper, who has served as Woodstock Artists Association juror on several occasions, and has shown her work there for two decades, admits that she was feeling a little blue when she woke up on the day she resubmitted her painting, "And Her Shoes Were Black," a jewel-and-neon-toned study of contrasts, each element playing off the other like visual jazz.</p>

      <p>When she heard the painting was not only accepted but had won the Lee-Borkman award, it made her "feel marvelous," but then she realized she had to put the whole thing back into perspective, not allowing her sense of herself as an artist to rest on fleeing moments of acceptance or rejection.</p>
      <div class='text-center'><em>------Woodstock Times</em></div><br><br>
  </ul>
</div>

<br><br><br>

{% endblock %}
