{% extends "layout.html" %}

{% block title %} {{title}}{% endblock %}

{% block content %}

<div class="container ">
  <ul class= "row row-centered">
    <li class="col-xs-12 col-sm-12 col-md-12 col-centered col-max"><div class='text-center'><img src="/images/Artist-pic.jpg" width="75%" height="75%"><div ><h6>Carol Pepper-Cooper</h6></div></div></li>
    <li class="col-xs-12 col-sm-12 col-md-12 col-centered col-max-text"><p>My works are meditations on what it feels like for me to flow in and out of dreams. Although in some of my works one may recognize objects, the world I aim to present cannot be seen by the naked eye, but rather by the inner eye, which transfigures all it sees.  Ever since I was a young woman, I was fascinated by the flow of energy in nature, and now, growing older, I sense that energy as a function of the flow of time, transforming us all. That energy is what I try to present, whether it’s with the rhythms of black and white, or with color that makes space ambiguous.  Either way, my aim is to draw the viewer into the mystery of what is felt – but unseen.</p> </li>
<br><br>

<h6 class='text-center'>Vitae</h6><br>

    <li class="col-xs-12 col-sm-12 col-md-12 col-centered col-max-text text-left">
      <p><span class='h6'>M.F.A.</span> Pratt Institute (studied with Jacob Lawrence, George McNeil)</p>
      <p><span class='h6'>A.B.</span> <em>(magna cum laude)</em> Radcliffe College, Harvard University</p><br><br>

      <p><span class='h6'>Additional Study</span></p>
      <p>Woodstock School of Art. Skowhegan School of Painting and Sculpture</p><br><br>

      <p><span class='h6'>Selected Awards and Citations</span></p>
      <p>2013  Named <em>Distinguished Artist for 2014</em> by Arts Society of Kingston</p>
      <p>2013  <em>First Gallery Committee Award of Recognition</em>, Arts Society of Kingston</p>
      <p>2008  <em>Best Landscape of the Year</em>, Woodstock Artists Association & Museum</p>
      <p>2004, 2000, 1999, 1996, 1995 Barrett Art Center, Poughkeepsie, NY</p>
      <p>2014, 2003, 2002, 2000, 1998, 1996 Woodstock Artists Association</p>
      <p>1989 - 1994 Ulster County Art Association <em>Best in Show</em> </p>
      <p>1966 Louis Comfort Tiffany National Competition, Finalist</p><br><br>

      <p><span class='h6'>Solo Shows</span></p>
      <p>2014  Main Gallery, Arts Society of Kingston (ASK), NY</p>
      <p>2010  Healing Arts Gallery, Ellenville, NY</p>
      <p>1998 The Cultural Coop, Stone Ridge, NY</p>
      <p>1977 Bennett College, Millbrook, NY</p><br><br>

      <p><span class='h6'>Selected Group Exhibitions</span></p>
      <p><em>2013 New Directions, ’13</em> National Contemporary Art Exhibit Barrett Art Center, Poughkeepsie, NY, Juried by Susan Sayre Batton,  Managing Director, DIA museum, Beacon</p>
      <p>2013 Howland Cultural Center, Beacon, NY (invitational 3 – Person Exhibition)</p>
      <p>2013 Woodstock School of Art Regional Juried Black and White Art Exhibit</p>
      <p>2013 <em>ProcidAmerica</em> – Invitational International Exchange, Procida, Italy</p>
      <p>2013 – 2012 Arts Society of Kingston, Juried Regional Exhibitions</p>
      <p>2012 Unison Arts Center, New Paltz, NY: Invitational Exhibition</p>
      <p>2012 Dog House Gallery, Saugerties, NY: Abstract Drawing Exhibition</p>
      <p>2011 New Century Artists Gallery, NYC: Invitational Exhibition</p>
      <p>2011, 2005, 2001 Palmer Gallery, Vassar College, Poughkeepsie, NY</p>
      <p>2010  Kotler Gallery, SUNY Ulster, <em>Marks That Matter</em>, (juried by Gillian Jagger)</p>
      <p>2007 <em>VeronAmerica</em> (Invitational international art exchange), Kingston, NY</p>
      <p>2002   Dorsky Museum, SUNY New Paltz, juried show</p>
      <p>2001  New York Law School, NYC</p><br><br>

      <p><span class='h6'>Other High Points</span></p>
      <p>2013 Elected to the National Association of Women Artists (N.A.W.A.)</p>
      <p>2010 Featured Artist for January 25 issue of <em>HV Biz</em> (Hudson Valley Business Review)</p>
      <p>2006 CD cover Design for <em>Voices of the Valley</em>, (classical composers in the Hudson Valley)</p>
      <p>2005 Prints offered at Manhattan’s New York Historical Society's gift shop</p>
      <p>2004  Designed 3 seven-foot stained glass windows, installed in Kingston’s Temple Emanuel, 2005</p>
      <p>2000 Lecture and slide show retrospective at SUNY Ulster</p>
      <p>1980-1993 Designed and painted 10+ theater sets, including <em>The Gondoliers, The Three-Penny Opera, The Magic Flute</em></p>
      <p>1971 Established Art Department at St. Ann’s Lower School, Brooklyn, NY</p><br>
      <p>Included in the permanent collections of the University of Illinois, Urbana; Pratt Institute, Brooklyn, NY; Hebrew University,Jerusalem, Israel, and in private collections in the US.</p><br><br>
</div>




{% endblock %}
